<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feature">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/1">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/institute">Institute</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todo">Todo</a>
        </li>
        <li class="nav-item sub_li ">
          <button (click)="Subscribe()" class="btn_sub">Subscribe</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='/about'>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="feature">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact/1">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="institute">Institute</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="todo">TODO</a>
        </li>
        <li class="nav-item sub_li ">
          <button (click)="Subscribe()" class="btn_sub">Subscribe</button>
        </li>
      </ul>
    </div>
  </div>
</nav> -->